* {
    margin: 0;
    padding: 0;
}

.upperpart{

    background-color: white;
    width: 100vw;
    height: 45vh;
}

.arribauppertpart {

    background-color: white;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.searchbar{

    background-color: rgb(255, 153, 120);
    margin-top: 80px;
    width: 500px;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
.searchboton{
    background-color: rgb(101, 106, 115);
    height: 70px;
    width: 70px;
}
.textosearchbar{

    background-color: white;
    width: 400px;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    margin-left: 20px;
    margin-right: 20px;
}

.abajoupperpart {

    background-color: white;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.textosupperpart{
    background-color: rgb(204, 203, 202);
    width: 240px;
    height: 20px;
    margin-top: 50px;
    margin-right: 40px;
    margin-left: 40px;
}

.midlepart{
    display: flex;
    width: 100vw;
    height: 50vh;
}

.midleshortleft{
    background-color: rgb(196, 237, 241);;
    width: 35vw;
    height: 50vh;
    display: flex;
    justify-content: right;
    align-items: center;

}

.midlecaja{
    background-color: rgb(145, 211, 217);
    width: 225px;
    height: 225px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}


.texto {
    width: 225px;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.cajapunto {
    background-color: rgb(196, 237, 241);;
    width: 20px;
    height: 20px;
    margin-top: 30px;
    margin-left: 30px;
}
.cajatexto {
    background-color: white;
    width: 130px;
    height: 20px;
    margin-top: 30px;
    margin-left: 15px;
}
.midlelongright{
    background-color: rgb(196, 237, 241);;
    width: 65vw;
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.titulo{
    background-color: rgb(101, 106, 115);
    height: 40px;
    width: 609px;
    margin-top: 61px;
    margin-left: 117px;
}

.subtitulo1{
    background-color: white;
    height: 10px;
    width: 609px;
    margin-top: 25px;
    margin-left: 117px;
}

.subtitulo2{
    background-color: white;
    height: 10px;
    width: 409px;
    margin-top: 25px;
    margin-left: 215px;
}

.bottompart{
    background-color: white;
    display: flex;
    width: 100vw;
    height: 70vh;
}

.articulo1 {
    background-color: white;
    width: 35vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.articulo2 {
    background-color: white;
    width: 30vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.articulo3{
    background-color: white;
    width: 35vw;
    height: 70vh;
}

.cuadrado1{
    margin-left: 260px;
    margin-top: 71px;
    background-color: rgb(255, 153, 120);
    width: 225px;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.titulo1{
    background-color: rgb(237, 109, 71);
    margin-left: 35px;
    margin-top: 35px;
    height: 30px;
    width: 150px;
}

.texto1{
    background-color: white;
    margin-left: 35px;
    margin-top: 15px;
    width: 150px;
    height: 10px;
}

.texto2{
    background-color: white;
    margin-left: 35px;
    margin-top: 15px;
    width: 100px;
    height: 10px;
}

.cuadrado2{
    background-color: rgb(171, 224, 229);
    width: 225px;
    height: 225px;
    margin-top: 71px;
}

.cuadrado3{
    background-color: rgb(255, 200, 109);
    margin-top: 71px;
    margin-left: 40px;
    width: 225px;
    height: 225px;
}

.titulo2{
    background-color: rgb(101, 106, 115);
    margin-left: 260px;
    margin-top: 25px;
    width: 225px;
    height: 15px;

}

.texto3{
    background-color: rgb(204, 203, 202);
    margin-left: 260px;
    margin-top: 20px;
    width: 225px;
    height: 15px;
}

.texto4{
    background-color: rgb(204, 203, 202);
    margin-left: 260px;
    margin-top: 20px;
    width: 150px;
    height: 15px;
}

.titulo3{
    background-color: rgb(101, 106, 115);
    margin-top: 25px;
    width: 225px;
    height: 15px;

}

.texto5{
    background-color: rgb(204, 203, 202);
    margin-top: 20px;
    width: 225px;
    height: 15px;
}

.texto6{
    background-color: rgb(204, 203, 202);
    margin-right: 75px;
    margin-top: 20px;
    width: 150px;
    height: 15px;
}

.titulo4{
    background-color: rgb(101, 106, 115);
    margin-left: 40px;
    margin-top: 25px;
    width: 225px;
    height: 15px;

}

.texto7{
    background-color: rgb(204, 203, 202);
    margin-top: 20px;
    margin-left: 40px;
    width: 225px;
    height: 15px;
}

.texto8{
    background-color: rgb(204, 203, 202);
    margin-left: 40px;
    margin-top: 20px;
    width: 150px;
    height: 15px;
}